<div class="page-header">
  <h1>Contact Us</h1>
</div>
<div class="row">
  <form class="col-md-6" method="post" name="contactForm" novalidate
        ng-submit="contactSubmit(contactForm,
                                 contactForm.$valid,
                                 contactForm.name.$valid,
                                 contactForm.email.$valid,
                                 contactForm.message.$valid)">
    <div class="alert alert-success" ng-show="isSuccess">
      <span class="glyphicon glyphicon-ok"></span> Thank you for contacting us, we will get in touch with you shortly.
    </div>
    <div class="form-group" ng-class="{ 'has-error': !isNameValid }">
      <label for="contactName">Your name</label>
      <input id="contactName" name="name" class="form-control input-lg" type="text"
             placeholder="Jane Doe" required autofocus auto-focus
             ng-model="contact.name">
    </div>
    <div class="form-group" ng-class="{ 'has-error': !isEmailValid }">
      <label for="contactEmail">Your email</label>
      <input id="contactEmail" name="email" class="form-control input-lg" type="email"
             placeholder="jane@doe.com" required
             ng-model="contact.email">
    </div>
    <div class="form-group">
      <label for="contactPhone">Your phone number</label>
      <input id="contactPhone" name="phone" class="form-control input-lg" type="number"
             placeholder="0989366421"
             ng-model="contact.phone">
    </div>
    <div class="form-group" ng-class="{ 'has-error': !isMsgValid }">
      <label for="contactMessage">Your message</label>
      <textarea id="contactMessage" name="message" class="form-control input-lg" rows="5"
                placeholder="Hello Canon shop," required
                ng-model="contact.message"></textarea>
    </div>
    <button type="submit" class="btn btn-default btn-lg">Send <span class="glyphicon glyphicon-send"></span></button>
  </form>
  <address class="col-md-6">
    <strong>Canon Shop</strong><br>
    68<sup>th</sup> floor, Bitexco Financial Tower<br>
    District 1, Ho Chi Minh City, 700000<br>
    <abbr title="Phone">P:</abbr> (+84) 3-840-1687<br>
    <abbr title="Mobile">M:</abbr> (+84) 0989-366-421
  </address>
</div>
